<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Open+Sans&display=swap" rel="stylesheet">
  <title>Dance</title>
</head>



<body>
  {{!Transfer to css when linked}}
  <style>
        #header {
        color:rgb(8, 8, 8);
        font-weight:400;
        font-size: 50px;
    }
  </style>

  {{!Header}}
<div class="jumbotron-fluid">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a id="header" class="navbar-brand">Dance Class Search</a>
    </div>

{{!Nav links}}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://localhost:8080/index">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Saved</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:8080/us">The Team</a>
  </li>

  {{!Delete this and re position links}}
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">?</a>
  </li>
</ul>
  </nav>
</div>

  {{{ body }}}
</body>

</html>
