<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="./assets/css/dance_style.css" type="text/css" />
  <title>Dance</title>
</head>

<body>
  {{{ body }}}
</body>

</html>
