<style>
    #notFound {
    text-align: center;
    margin: 250px;
  }

    #notFound p {
    font-size: 100px;
    font-weight: 600;
    color: burlywood;
    font-family: 'Cinzel Decorative', cursive;
    }

</style>

<div id="notFound">
<p>((404 NOTHING FOUND))</p>
<p>X _ X</p>
</div>