<style>

   body {
        background-image: url(dancer-in-studio-wondows.jpg);
        background-size: cover;
    }

  #notFound {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    color: burlywood;
  }

</style>

<div id="notFound">
<p>((404 NOTHING FOUND))</p>
<p>X_X</p>
</div>