<h1>Search your Style</h1>

<div id="search">
    <h3>Search dance class</h3>

    <label for="teacher">Choose teacher:</label>
    <select name="teacher" id="teacher">

    {{!Each??}}
        <option>1{{!teacher name}}</option>
        <option>2{{!teacher name}}</option>
        <option>3{{!teacher name}}</option>
    </select><br>

    <label>Dance type</label>
    <input type="search"><br>

    <label>Location</label>
    <input type="search"><br>

    <label>Price per Hour</label>
    <input type="search"><br>

    <label>Rating</label>
    <input type="search" placeholder="Out of 5 stars"><br>

    <button>Search</button>
</div>
<br>
<div id="add">
    <h3>Add a dance class</h3>

    <label>Teacher name</label>
    <input type="search"><br>

    <label>Dance type</label>
    <input type="search"><br>

    <label>Class name</label>
    <input type="search"><br>

    <label>Location</label>
    <input type="search"><br>

    <label>Price per Hour</label>
    <input type="search"><br>

    <button>Add class to schedule</button>
    
</div>