<h1>Get your Groove on!</h1>

<div>
  <h3>Welcome</h3>
<p>This is the body</p>
<button>Enter the studio</button>
</div>

<footer>
  <div> Info </div>
  <div> More Info </div>
  <div> The Rest of the Info </div>
</footer> 