
<div class="container">
  <div class="card" id="danceCard">
    <div id="danceHeader" class="card-header text-center">
      <h2> Offered Dances:</h2>
    </div>

    <ul id = "danceList">
      {{#each dances}}

      <li id="danceList" class="text-center">
        Dance Style: {{this.danceTitle}}

        <img id="danceImgBorder" src="/img/{{danceTitle}}.jpg" alt={{danceTitle}} width="400" height="250"/>
      </li>

        {{/each}}
    </ul>

      <div class="card-footer text-muted">

  </div>

  </div>
</div>





