<style>
  /* Styling for dances.handlebars */
  /* Card styling */
    #searchCard {
    margin:auto;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 550px;
    opacity: 90%;
    box-shadow: 01px 0px 5px 3px rgba(24, 21, 21, 0.39);
    backdrop-filter: blur(20px);
    background-color: rgba(245, 244, 244, 0.863);
    }

    #searchHeader {
    font-family: 'Cinzel Decorative', cursive; 
    font-weight: 700;
    color: rgb(207, 205, 205);
    background-color:rgb(80, 130, 170);
    padding-top: 20px;
    }

    #cardBody {
    margin:auto;
    max-width: 550px;
    }
  /* List style*/
    #danceList {
      list-style-type: none;
      padding-right: 15px;
      font-family: 'Cinzel', serif;
      padding-top: 7px;
      font-weight: 800;
    }
      #imgBorder {
      border-style: double;
      border-width: 10px;
      border-color:rgb(68, 167, 162);
      border-radius: 5%;
    }

</style>

<div id="danceCont" class="container">
  <div class="card" id="searchCard">
    <div id="searchHeader" class="card-header text-center">
      <h2> Offered Dances:</h2>
    </div>

    <ul id = "danceList">
      {{#each dances}}

      <li id="danceList" class="text-center">
        Dance Style: {{this.danceTitle}}

        <img id="imgBorder" src="/img/{{danceTitle}}.jpg" alt={{danceTitle}} width="400" height="250"/>
      </li>

        {{/each}}
    </ul>

      <div class="card-footer text-muted">

  </div>

  </div>
</div>





