
<div id="inTwoCont" class="row" data-wow-duration="0.75s" data-wow-delay=".5s">

  <div id="openCard" class="col-sm-4">
    
    <div class="inTwoCard"  id="inTwoCard">
      <div class="card-body" id="inTwoBody">
        <h5 class="inTwoTitle">View Dance Classes</h5>
        <p class="card-text"> ... </p>
        <a id="inTwoBtn" href="http://localhost:8080/search" class="btn">Student</a>
      </div>
    </div>
  </div>


  <div id="openCard" class="col-sm-4" data-wow-duration="0.75s" data-wow-delay=".5s">

    <div class="inTwoCard" id="inTwoCard">
      <div class="card-body" id="inTwoBody">
        <h5 class="inTwoTitle">View Dance Styles</h5>
        <p class="card-text"> ... </p>
        <a id="inTwoBtn" href="http://localhost:8080/dances" class="btn">Student</a>
      </div>
    </div>

  </div>

    <div id="openCard" class="col-sm-4" data-wow-duration="0.75s" data-wow-delay=".5s">

    <div class="inTwoCard" id="inTwoCard">
      <div class="card-body" id="inTwoBody">
        <h5 class="inTwoTitle">View Instructors</h5>
        <p class="card-text"> ... </p>
        <a id="inTwoBtn" href="http://localhost:8080/instructors" class="btn">Student</a>
      </div>
    </div>

  </div>

  <div id="openCard" class="col-sm-4" data-wow-duration="0.75s" data-wow-delay=".5s">

    <div class="inTwoCard"  id="inTwoCard">
      <div class="card-body" id="inTwoBody">
        <h5 class="inTwoTitle">Add a Class</h5>
        <p class="card-text"> ... </p>
        <a id="inTwoBtn" href="http://localhost:8080/add" class="btn">Instructor</a>
      </div>
    </div>

  </div>

  <div id="openCard" class="col-sm-4" data-wow-duration="0.75s" data-wow-delay=".5s">

    <div class="inTwoCard" id="inTwoCard">
      <div class="card-body" id="inTwoBody">
        <h5 class="inTwoTitle">Add an Instructor</h5>
        <p class="card-text"> ... </p>
        <a id="inTwoBtn" href="http://localhost:8080/teacher" class="btn">Instructor</a>
      </div>
    </div>

  </div>

    <div id="openCard" class="col-sm-4" data-wow-duration="0.75s" data-wow-delay=".5s">

    <div class="inTwoCard" id="inTwoCard">
      <div class="card-body" id="inTwoBody">
        <h5 class="inTwoTitle">Search Dance Classes</h5>
        <p class="card-text"> ... </p>
        <a id="inTwoBtn" href="http://localhost:8080/search2" class="btn">Student</a>
      </div>
    </div>

  </div>


</div>



