
<div id="center" class="container">

  <div id="indexCard" class="card">
    <div id="indexHeader" class="card-header text-center">
      <h2>Classes:</h2>
      <p>"Let's Dance Together"</p>
    </div><br>


    <ul id = "indexClassList" class="text-center">

      {{#each classes}}

      <p id="indexBorder">
        {{this.classTitle}} <br>
        <a id="openBtn" href="http://localhost:8080/classes/{{danceID}}/{{instructorID}}" class="btn btn-outline-info text-center">Details</a>

      </p>
        {{/each}}
    </ul>
    <div class="card-footer text-muted">

  </div>


  </div>
</div>



