<h1> Searched Class</h1>

<div id = "search_results"></div>

<script>
    
    var searchedCriteria = {location: "Redmond", danceTitle: "Bachata"};
    fetch("/api/classes/search", {
        method: "POST",
        headers: { 'Content-type': 'application/json' },
        body: JSON.stringify(searchedCriteria)
    }).then(response => {
        return response.json()
    }).then(data => {
        console.log(data)
        var clDiv = $("<div class='classes'>");
        for(var i= 0; i<data.length;i++) {
            console.log(data[i].classTitle)
            var a = $("<li>");
            var p2 = a.text(data[i].classTitle);
            clDiv.append(p2)
        }
        $("#search_results").append(clDiv);

    })
</script>