<style>

     body {
        background-image: url(dancer-in-studio-wondows.jpg);
        background-size: cover;
    }
  #searchCard {
    margin:auto;
    margin-top: 100px;
    max-width: 500px;
  }

</style>


<div class="card text-center" id="searchCard">
  <div class="card-header">
    <h3>Add New Instructor</h3>
  </div>

  <div class="card-body">
{{!Enter teacher name}}
      <label for="teacher">Teacher's name:</label>
      <search name="teacherName" id="addTeacher">
          <textarea id = "fname" type="text" name="instructor_fname" placeholder="First name"></textarea>
          <textarea id = "lname" type="text" name="instructor_lname" placeholder="Last name"></textarea>
      </search><br>

{{!Enter rating}}
        <label>Rating:</label>
        <search name="price" id="newPrice">
            <textarea id = "rating" type="text" name="rating" placeholder = "Out of 5"></textarea>
        </search><br><br>

{{!Enter location}}
      <label>Location:</label>
      <search name="location" id="newLocation">
          <textarea id = "location" type="text" name="location"></textarea>
      </search><br>



{{!Enter class hourly rate}}
        <label>Price per Hour:</label>
        <search name="price" id="newPrice">
            <textarea id = "hrate" type="text" name="instructor_name"></textarea>
        </search><br><br>


<button id = "add" type="button">Add </button>

  </div>
  <div class="card-footer text-muted">

  </div>
</div>




<script type="text/javascript">
$("#add").on("click", function () {
  console.log($("#fname").val().trim())
  
   $.ajax("/api/instructors/", {
      type: "POST",
      data: 
      {
        name: $("#fname").val().trim(),
        lastName: $("#lname").val().trim(),
        rating: $("#rating").val().trim(),
        location: $("#location").val().trim(),
        hourlyRate: $("#hrate").val().trim()
        }
    }).then(
      function() {
        console.log("instructor saved");
        location.href = "http://localhost:8080/index"
      }
    );
  });

</script>


{{!-- <form action="/api/instructors" method="POST">
  <div class="form-group">
    <label>Teacher's name:</label>
    <input type="text" class="form-control" name="fname" placeholder="First Name">
  </div>
  <div class="form-group">
    <label>Teacher's last name:</label>
    <input type="text" class="form-control" name="lname" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label>Teacher's rating:</label>
    <input type="text" class="form-control" name="rating" placeholder="Out of 5">
  </div>  
  <div class="form-group">
    <label>Teacher's location:</label>
    <input type="text" class="form-control" name="location" placeholder="">
  </div>  
  <div class="form-group">
    <label>Teacher's price per hour:</label>
    <input type="text" class="form-control" name="hrate" placeholder="">
  </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}