<script src="../public/js/teacher.js"></script>

<div class="container">

  <div class="card" id="teacherCard">
  <div id="teacherHeader" class="card-header text-center">
    <h3>Add New Instructor</h3>
  </div>

  <div class="card-body" id="teacherCardBody">
{{!Enter teacher name}}
  <div class="row">
    <div class="col-4">
      <label for="teacher">Teacher's name:</label>
    </div>

    {{!inline flex 2 col}}
    <div class="col-6">
      
      <search name="teacherName" id="addTeacher">
          <textarea id = "fname" class="textName" type="text" name="instructor_fname" placeholder="First name"></textarea>
          <textarea id = "lname" class="textName" type="text" name="instructor_lname" placeholder="Last name"></textarea>
      </search>
      
    </div>
  </div>

{{!Enter rating}}
  <div class="row">
    <div class="col-4">
        <label>Rating:</label>
    </div>
    <div class="col-6">
        <search name="rating" id="newRating">
            <textarea id = "rating" class="textName" type="text" name="rating" placeholder = "Out of 5"></textarea>
        </search>
      </div> 
        </div>

{{!Enter location}}
  <div class="row">
    <div class="col-4">
      <label>Location:</label>
    </div>
      <div class="col-6">
      <search name="location" id="newLocation">
          <textarea id = "location" class="textName" type="text" name="location"></textarea>
      </search>
      </div> 
  </div>

{{!Enter class hourly rate}}
  <div class="row">
    <div class="col-4 ">
        <label>Price per Hour:</label>
      </div> 
      <div class="col-6">
        <search name="price" id="newPrice">
            <textarea id = "hrate" class="textName" type="text" name="instructor_name"></textarea>
        </search>
      </div>  
    </div> <br>

<div class="d-flex justify-content-center">
  <button id = "addTeach" class="btn" type="button">Add </button>
</div>
  </div>
  <div class="card-footer text-muted">
  </div>
  </div>
</div>
