<script src="../public/js/update_instr.js"></script>
{{!-- <h1>Hello</h1> --}}

<div class="container">

  <div class="card" id="updateCard">
  <div id="updateHeader" class="card-header text-center">
    <h3>Update Instructor's Details </h3>
    <p>Instructor: {{this.name}} {{this.lastName}} </p>
    <p id= "id">{{this.id}}</p>
  </div>

  <div class="card-body" id="updateCardBody">

{{!Enter rating}}
  <div class="row">
    <div class="col-4 text-left">
        <label>Rating:</label>
    </div>
    <div class="col-6">
        <search name="rating" id="newRating">
            <textarea class="updateText" id = "rating" type="text" name="rating" placeholder = "Out of 5"></textarea>
        </search>
      </div> 
        </div>

{{!Enter location}}
  <div class="row">
    <div class="col-4">
      <label>Location:</label>
    </div>
      <div class="col-6">
      <search name="location" id="newLocation">
          <textarea class="updateText" id = "location" type="text" name="location"></textarea>
      </search>
      </div> 
  </div>

{{!Enter class hourly rate}}
  <div class="row">
    <div class="col-4 ">
        <label>Price per Hour:</label>
      </div> 
      <div class="col-6">
        <search name="price" id="newPrice">
            <textarea class="updateText" id = "hrate" type="text" name="instructor_name"></textarea>
        </search>
      </div>  
    </div> <br>

<div class="d-flex justify-content-center">
  <button id = "updateAdd" class="btn" type="button">Update </button>
</div>
  </div>
  <div class="card-footer text-muted">
  </div>
  </div>
</div>

<script>
  /* eslint-disable no-undef */
$("#updateAdd").on("click", function () {
    var id = $("#id").text();
    console.log(id)
    console.log("/api/instructors/" + id);

   $.ajax("/api/instructors/" + id, {
      type: "PUT",
      data: 
      {
        rating: $("#rating").val().trim(),
        location: $("#location").val().trim(),
        hourlyRate: $("#hrate").val().trim()
        }
    }).then(
      function() {
        console.log("instructor details updated");
        location.href = "http://localhost:8080/index"
      }
    );
  });

</script>