<style>
/* Styling for teacher.handlebars*/
/* Card styling */
  #searchCard {
    margin:auto;
    margin-top: 100px;
    max-width: 550px;
    opacity: 90%;
    box-shadow: 01px 0px 5px 3px rgba(24, 21, 21, 0.39);
    backdrop-filter: blur(20px);
    background-color: rgba(245, 244, 244, 0.863);
    }

  #searchHeader {
    font-family: 'Cinzel Decorative', cursive; 
    font-weight: 700;
    color: rgb(207, 205, 205);
    background-color:rgb(80, 130, 170);
    padding-top: 20px;
    }

    #cardBody {
      padding-left: 50px;
      padding-top: 25px;
      max-width: 550px;
      font-family: 'Cinzel', serif;
      font-weight: 900;
      font-size: 18px;
    }
    /* Styling of text areas*/
    textarea {
      font-family: 'Cinzel Decorative', cursive;
    }
    /* Add button and hover styling */
    #add {
      font-family: 'Cinzel Decorative', cursive;
      background-color:teal;
      color: white;
      width: 75px;
  }

      #add:hover {
      background-color: rgb(39, 221, 197);
      color: black;
    }

</style>

{{!-- <h1>Hello</h1> --}}

<div class="container">

  <div class="card" id="searchCard">
  <div id="searchHeader" class="card-header text-center">
    <h3>Update Instructor's Details </h3>
    <p>Instructor: {{this.name}} {{this.lastName}} </p>
    <p id= "id">{{this.id}}</p>
  </div>

  <div class="card-body" id="cardBody">

{{!Enter rating}}
  <div class="row">
    <div class="col-4 text-right">
        <label>Rating:</label>
    </div>
    <div class="col-6">
        <search name="rating" id="newRating">
            <textarea id = "rating" type="text" name="rating" placeholder = "Out of 5"></textarea>
        </search>
      </div> 
        </div>

{{!Enter location}}
  <div class="row">
    <div class="col-4">
      <label>Location:</label>
    </div>
      <div class="col-6">
      <search name="location" id="newLocation">
          <textarea id = "location" type="text" name="location"></textarea>
      </search>
      </div> 
  </div>

{{!Enter class hourly rate}}
  <div class="row">
    <div class="col-4 ">
        <label>Price per Hour:</label>
      </div> 
      <div class="col-6">
        <search name="price" id="newPrice">
            <textarea id = "hrate" type="text" name="instructor_name"></textarea>
        </search>
      </div>  
    </div> <br>

<div class="d-flex justify-content-center">
  <button id = "add" class="btn" type="button">Update </button>
</div>
  </div>
  <div class="card-footer text-muted">
  </div>
  </div>
</div>




<script type="text/javascript">
$("#add").on("click", function () {
    var id = $("#id").text();
    console.log(id)
    console.log("/api/instructors/" + id);

   $.ajax("/api/instructors/" + id, {
      type: "PUT",
      data: 
      {
        rating: $("#rating").val().trim(),
        location: $("#location").val().trim(),
        hourlyRate: $("#hrate").val().trim()
        }
    }).then(
      function() {
        console.log("instructor details updated");
        location.href = "http://localhost:8080/index"
      }
    );
  });

</script>

