<style>
    /* Us.handlebars styling */
    /* Card styling */
        #profileImg {
        object-fit: cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        filter: drop-shadow(0 10px 0.90rem rgb(31, 30, 30));
    }

    #profileCard {
        align-items: center;
        margin: 20px;
        margin-top: 130px;
        display: flex;
        min-width: 250px;
        padding: 10px;
        filter: drop-shadow(0 0 0.75rem rgb(7, 24, 39));
    }
/* Link hover effect- found at: 
https://css-tricks.com/having-fun-with-link-hover-effects//*/
:root {
    --mainColor: rgb(17, 127, 131);
}
.card-body a {
  color: var(--mainColor);
  text-decoration: none;
}

.card-body a:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
}

@supports not(-webkit-text-stroke: 2px red) {
  .card-body a:hover {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}

</style>


<div id="profileCards" class="container">
    <div class="row">

    {{!Card 1}}
<div id="profileCard" class="card col-sm" style="width: 18rem;">
        <img id="profileImg" src="/img/kat-profile.png" class="card-img-top" alt="Photo of Kat">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

      <div class="card-body">
    <a href="https://www.linkedin.com/in/kgomozova/" class="card-link">
    <i class="fa fa-linkedin" style="font-size:36px"></i> Linkedin</a>
    
    <a href="https://github.com/kgo87" class="card-link">
    <i class="fa fa-github" style="font-size:36px"></i></i> GitHub</a>
  </div>
</div>

    {{!Card 2}}
<div id="profileCard" class="card col-sm" style="width: 18rem;">
        <img id="profileImg" src="/img/martin-profile.jpg" class="card-img-top" alt="Photo of Martin">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

      <div class="card-body">
    <a href="#" class="card-link">
    <i class="fa fa-linkedin" style="font-size:36px"></i> Linkedin</a>
    <a href="#" class="card-link">
    <i class="fa fa-github" style="font-size:36px"></i></i> GitHub</a>
  </div>
</div>

    {{!Card 3}}
<div id="profileCard" class="card col-sm" style="width: 18rem;">
        <img id="profileImg" src="/img/ame-profile.jpeg" class="card-img-top" alt="Photo of Amethyst">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

      <div class="card-body">
    <a href="https://www.linkedin.com/in/amethyst-white-1942761b7/" class="card-link">
    <i class="fa fa-linkedin" style="font-size:36px"></i> Linkedin</a>
    <a href="https://github.com/Am-White" class="card-link">
    <i class="fa fa-github" style="font-size:36px"></i></i> GitHub</a>
  </div>
</div>

    {{!Card 4}}
<div id="profileCard" class="card col-sm" style="width: 18rem;">
        <img id="profileImg" src="/img/vanessa-profile.jpg" class="card-img-top" alt="Photo of Vanessa">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

      <div class="card-body">
    <a href="#" class="card-link">
    <i class="fa fa-linkedin" style="font-size:36px"></i> Linkedin</a>

    <a href="https://github.com/cwf1984" class="card-link">
    <i class="fa fa-github" style="font-size:36px"></i></i> GitHub</a>
  </div>
</div>

</div>

</div>



    		