<div id="profileCards" class="container">
    <div class="row">

    {{!Card 1}}
<div id="profileCard" class="card col-sm" style="width: 18rem;">
        <img id="profileImg" src="/img/kat-profile.png" class="card-img-top" alt="Photo of Kat">
    <div class="profile-body">
        <p class="profile-text">Kat Gomozova</p>
    </div>

      <div class="profile-body">
    <a href="https://www.linkedin.com/in/kgomozova/" class="card-link">
    <i class="fa fa-linkedin" style="font-size:36px"></i> Linkedin</a>
    
    <a href="https://github.com/kgo87" class="card-link">
    <i class="fa fa-github" style="font-size:36px"></i></i> GitHub</a>
  </div>
</div>

    {{!Card 2}}
<div id="profileCard" class="card col-sm" style="width: 18rem;">
        <img id="profileImg" src="/img/martin-profile.jpg" class="card-img-top" alt="Photo of Martin">
    <div class="profile-body">
        <p class="profile-text">Martin Renteira</p>
    </div>

      <div class="profile-body">
    <a href="https://www.linkedin.com/in/martin-renteria/" class="card-link">
    <i class="fa fa-linkedin" style="font-size:36px"></i> Linkedin</a>
    <a href="https://github.com/MartinRenteria" class="card-link">
    <i class="fa fa-github" style="font-size:36px"></i></i> GitHub</a>
  </div>
</div>

    {{!Card 3}}
<div id="profileCard" class="card col-sm" style="width: 18rem;">
        <img id="profileImg" src="/img/ame-profile.jpeg" class="card-img-top" alt="Photo of Amethyst">
    <div class="profile-body">
        <p class="profile-text">Amethyst White</p>
    </div>

      <div class="profile-body">
    <a href="https://www.linkedin.com/in/amethyst-white-1942761b7/" class="card-link">
    <i class="fa fa-linkedin" style="font-size:36px"></i> Linkedin</a>
    <a href="https://github.com/Am-White" class="card-link">
    <i class="fa fa-github" style="font-size:36px"></i></i> GitHub</a>
  </div>
</div>

    {{!Card 4}}
<div id="profileCard" class="card col-sm" style="width: 18rem;">
        <img id="profileImg" src="/img/vanessa-profile.jpg" class="card-img-top" alt="Photo of Vanessa">
    <div class="profile-body">
        <p class="profile-text">Vanessa Malloy</p>
    </div>

      <div class="profile-body">
    

    <a href="https://github.com/cwf1984" class="card-link">
    <i class="fa fa-github" style="font-size:36px"></i></i> GitHub</a>
  </div>
</div>

</div>

</div>



    		