<style>
 body {
        background-image: url(dancer-in-studio-wondows.jpg);
        background-size: cover;
    }

    #profileImg {
        object-fit: cover;
        max-height: 200px;
        max-width: 200px;
        border-radius: 50%;
    }

    #profileCard {
        align-items: center;
    }

</style>


<div id="profileCards">

    {{!Card 1}}
<div id="profileCard" class="card" style="width: 18rem;">
        <img id="profileImg" src="" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

    {{!Card 2}}
<div id="profileCard" class="card" style="width: 18rem;">
        <img id="profileImg" src="" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

</div>



    		